<!------ Include the above in your HEAD tag ---------->

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .invoice-title h2,
        .invoice-title h3 {
            display: inline-block;
        }

        .table>tbody>tr>.no-line {
            border-top: none;
        }

        .table>thead>tr>.no-line {
            border-bottom: none;
        }

        .table>tbody>tr>.thick-line {
            border-top: 2px solid;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Đơn hàng</h2>
                <h3 class="pull-right">Order # 12345</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <% if(user!=null){%>
                    <address>
                        <strong>Người nhận :</strong>
                        <div><%- user.fullname%></div>
                        <div>address</div>
                        <div>phone</div>
                    </address>
                    <%}%>
                </div>

            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Chi tiết đơn hàng</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-right"><strong>Giá</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                <% if(user!=null){listItems.map((item,index)=>{%>
                    <tr>
                        <td><%- item.shoes.name%></td>
                        <td class="text-right"><%- item.shoes.price%></td>
                    </tr>
                    <%})} else{ 
                        pickedShoes.map((item,index)=>{
                        %>
                       
                    <tr>
                        <td><%- item.name%></td>
                        <td class="text-right"><%- item.price%></td>
                    </tr>
                    <% })}%>
                    <tr>
                        <td></td>
                        <td class="text-right"><%- total%></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>